/* body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
} */

.container {
	margin-top: 10vh;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
	border-bottom: 1px solid #039be5 !important;
	box-shadow: 0 1px 0 0 #039be5 !important;
}

.btn {
	margin-top: 11px;
}

i {
	color: #ffffff !important;
	background-color: #039be5 !important;
}
